.footer {
    padding: 3rem 0;
    text-align: center;
    color: var(--color-text-primary);
    font-family: var(--font-family-body), serif;
    margin-bottom: -4rem;
    margin-top: 4rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-family: var(--font-family-heading), serif;
    font-size: 1.5rem;
    color: var(--color-secondary-main);
}

.footer-text {
    font-size: 0.9rem;
    color: var(--color-text-primary);
}